application.yml

HELP.md
.gradle
build/
gradle/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.DS_store
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
*.yml
**/main/java/com/weave/weaveserver/config/jwt/JwtProperties.java
**/main/java/com/weave/weaveserver/config/andOauth/SecurityProperties.java
**/main/java/com/weave/weaveserver/service/ImageService.java
**/main/resources/civil-treat-360317-cea5f2d8ef7c.json
**/main/java/com/weave/weaveserver/util/FileUtils.java
/logs/**


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
